<h1>@Html.TitleForPage(T("Personal Information").ToString())</h1><hr />  
<b>Gender: </b>@Model.Gender
<b>First Name: </b>@Model.FirstName
<b>Middle Name: </b>@Model.MiddleName
<b>Last Name: </b>@Model.LastName
<b>Nick Name: </b>@Model.NickName
<b>Display Name: </b>@Model.DisplayName